@import '~antd/dist/antd.css';

#root {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background-color: dodgerblue;
}
#edit {
  overflow-x: hidden;
}
#nav_bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1.6rem;
}
.my_tab .ant-tabs-content-holder {
  overflow: auto;
  height: 100%;
}